
           <header>
             <h1>Sign up to kitten page</h1>
           </header>
           <main role="main">
             <p>add owner details below to register</p>
             <ul class="errors">
                 <% @owner.errors.full_messages.each do |message| %>
                     <li><%= message %></li>
                 <% end %>
             </ul>
             <form method="POST" action="/owners">
                 <label for="owner-name">Name</label>
                 <input autofocus="true" name="owner_name" type="text" placeholder="owner name" id="owner-name">
                 
                 <label for="owner-username">User Name</label>
                 <input autofocus="true" name="owner_username" type="text" placeholder="owner username" id="owner-username">
                 
                 <label for="owner-age">Age</label>
                 <input name="owner_age" type="number" placeholder="owner's age" id="owner-age">
                 
                 <label for="owner-password">Password</label>
                 <input name="owner_password" minlength="4" type="password" placeholder="password" id="owner-password">
                 
                 <button>Add Owner YOO</button>
             </form>
            
             <footer>
                 <a href="/owners">back to owners</a>
             </footer>
           </main>