
           <header>
               <h1> Welcome back!</h1>
           </header>
           <main role="main">
             <p>Single Owner</p>
            <%= erb(:'/kitten_page/shared/p_owner', {locals: {the_owner: @owner}}) %>
            <footer>
                <a href="/owners/<%= @owner.id %>/kittens/new">Add a kitty</a>
                <a href="/owners">Back Home</a>
            </footer>
            </main>
            
            
            
            
            <!--## erb(:'kitten_page/shared/p_owner', locals: {owner: @owner}) %>-->