
      <header class="owners-header">
         <h1>Kitty Owners</h1>
         <a href="/owners/new">Sign up as an owner</a>
         <a href="/owners/login"> Or Login</a>
      </header>

      <main role="main">
         <% if @owners.length > 0 %>
             <% @owners.each do |owner| %>
              <a href="/owners/<%=owner.id %>">Profile</a>
              <%= erb(:'/kitten_page/shared/p_owner', {locals: {the_owner: owner}}) %>
             <% end %>
            <% else %>
              No owners found :(
            <% end%>
      </main>