<article class="post">
      <div class="user-info">
          <h2>Name: <%= the_owner.name %></h2>
          <h3>Age: <%= the_owner.age %></h3>
      </div>
      <ul class="comments">
         <h4> My kittens</h4>
         <!-- does the_owner have kittens?-->
         <% if the_owner.kittens.length > 0 %>
             <% the_owner.kittens.each do |kitty| %>
              <li>
                  <p>Name: <%= kitty.name %></p>
                  <p>Breed: <%= kitty.breed %></p>
              </li>
              <% end %>
         <% else %>
            Sadly, I have no kittens to speak of. 
         <% end %>
      </ul>
</article>