header {
    background-color: #244751;
    color: #E8FDFF;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 16px;
}

.errors {
    color: #f96000;    
}
/*login form styling*/
#login-form-title {
    text-align: center;
    padding: 10px 0;
}

#login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*fancy shmancy submit button*/
#login-form input[type="submit"] {
    border: 0;
    outline: none;
    padding: 5px 35px;
    color: #6e6e6e;
    font-size: 1.5em;
    background-color: #ffcd03;
    transition: all .25s ease-in-out;
}
#login-form input[type="submit"]:hover {
    background-color: #e9bd0a;
}
#login-form input[type="submit"]:active {
    background-color: #03a9ff;
}
#signup-form {
  padding: 25px;
}

#signup-form input[type="submit"] {
    background-color: #d6e312;
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
}
.owners-header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.post {
    margin-bottom: 48px;
    border-bottom: 1px solid #244751;
}

.post .user-info img {
    border-radius: 50%;
}

.post p {
    font-family: 'Muli', sans-serif;
}

.post .photo {
    opacity: .25;
    transition: all .25s ease-in;
}

.post .photo:hover {
    opacity: 1;
    /*transform: rotateX(110deg);*/

}
.post .photo:focus {
    opacity: 0;
}
.post .avatar_icon {
    display: inline-block;
}

.post .lotr_bio {
    display: inline-block;
}

.user-info h2 {
    font-size: 22px;
    text-decoration: underline;
}

.user-info h2:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/*@keyframes shake {*/
/*  10%, 90% {*/
/*    transform: translate3d(-1px, 0, 0);*/
/*  }*/
  
/*  20%, 80% {*/
/*    transform: translate3d(2px, 0, 0);*/
/*  }*/

/*  30%, 50%, 70% {*/
/*    transform: translate3d(-4px, 0, 0);*/
/*  }*/

/*  40%, 60% {*/
/*    transform: translate3d(4px, 0, 0);*/
/*  }*/
/*}*/





/*comments styling*/

.comments li {
    transition: all .25s ease-in-out;
}
.comments li:hover {
    transform: translateX(15px);
    cursor: pointer;
    animation: changeColor 5s ease-in-out;
}

/*@media (min-width: 600px) {*/
/*    .post .photo {*/
/*        max-width: 400px;        */
/*    }*/
/*}*/


@media (max-width: 600px) {
    main {
       width: 100%;
    }
}