
<div class="form-group">
    <label for="icon_url">Icon Url</label>
    <input type="text" name="icon_url" placeholder="http://something" id="icon_url">
</div>
<div class="form-group">
    <label for="age">Age</label>
    <input type="number" name="age" placeholder="age in numbers" id="age">
</div>
<div class="form-group">
    <label for="race">Race</label>
    <input type="text" name="race" placeholder="dwarf?" id="race">
</div>
<div class="form-group">
    <label for="icon_url">Has a beard?
        <input type="checkbox" name="has_beard">
    </label>
</div>
















elrond: https://render.fineartamerica.com/images/rendered/search/throw-pillow/images/artworkimages/medium/1/elrond-greg-joens.jpg?&targetx=0&targety=-79&imagewidth=479&imageheight=638&modelwidth=479&modelheight=479&backgroundcolor=777777&orientation=0&producttype=throwpillow-14-14
sarumon: http://media3.s-nbcnews.com/j/newscms/2015_24/1069986/150611-christopher-lee-saruman-mn-0830_e22cae30a954a51ce06f6027accf239a.nbcnews-fp-360-360.jpg
gimli: https://lh6.googleusercontent.com/-bVIxSynwFEo/AAAAAAAAAAI/AAAAAAAAWMI/uDhOp3RdKkU/photo.jpg
legolas: https://s-media-cache-ak0.pinimg.com/736x/f0/e3/44/f0e344c8ad8da9b4d8bcbd9e6787c758.jpg


 lotr_char = LotrCharacter.new({
      name: params[:name],
      has_beard: params[:has_beard] == 'on' ? true: false,
      icon_url: params[:icon_url],
      age: params[:age],
      race: params[:race]
    })