<form action="/login" method="POST">
    <%= @error_message if @error_message %>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <input type="submit" value="login">
</form>