<h2 id="login-form-title">Login</h2>
<form action="/login" method="POST" id="login-form">
    <p class="errors"><%= @error_message %> </p>

    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <input type="submit" value="login" class="btn btn-danger">
</form>